.testimonial-header {
  text-align: center;
  letter-spacing: 1px;
}
.swiper {
  width: 350px;
  height: 460px;

  @media screen and (max-width: 474px) {
    width: 250px;
  }
  @media screen and (max-width: 361px) {
    width: 150px;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: #caa6a6;
}

.swiper-slide:nth-child(2n) {
  background-color: #747264;
}

.swiper-slide:nth-child(3n) {
  background-color: #6962ad;
}

.swiper-slide:nth-child(4n) {
  background-color: #332941;
}

.customer-image {
  width: 12rem;
  height: 10rem;
  border-radius: 50%;
  position: relative;
  left: 3.3em;
  @media screen and (max-width: 474px) {
    left: 1.3em;
  }
  @media screen and (max-width: 361px) {
    left: 0.5rem;
  }
  @media screen and (max-width: 361px) {
    width: 8rem;
    height: 6rem;
  }
}

.customer-name {
  font-size: 1.5rem;
  text-align: center;
}
.review {
  font-size: 0.8rem;
  text-align: center;
  width: 90%;
  margin-left: 1rem;
  @media screen and (max-width: 361px) {
    font-size: 0.6rem;
  }
}
